<h1>YardBay</h1>
<h2>The internet's premier auction site for things stolen from stranger's yards</h2>

<aside id="sidebar">
<h5>Please Login With Your Username and Password</h5>
<form id="loginForm" action="">
    <input id="loginUser" name="username" placeholder="Username"><br>
    <input id="loginPassword" name="password" placeholder="Password"><br>
    <button id="loginSubmit" href="/main">Submit</button>
</form>
<a href="/createuser">Create New Account</a>
</aside>
<div id="mainIMG">
<img id="backgroundIMG" src="img/bgimg.jpg" alt="default"></img>
</div>