<h1>YardBay</h1>


{{!-- {{#each Item}} --}}
<div class="itemShow">
{{!-- <img src="{{Item.picture}}"></img> --}}
<h3>{{name}}</h3><br>
<p>{{starting}}</p>
<a href="/details">Details</a>
</div>
{{!-- {{/each}} --}}
<aside id="sidebar">
    <h3>Auctions</h3><br>
    <a href="/listitem">List Item</a>
</aside>
